.feed-count {
    padding: 50px 0 60px;
    font-size: 0
}

.feed-count-item {
    margin-left: 80px;
    margin-right: 80px
}

.feed-count-number {
    height: 60px;
    line-height: 60px;
    font-size: 54px;
    font-weight: 100;
    color: #f60
}

.feed-count-describe {
    padding-bottom: 14px;
    line-height: 34px;
    font-size: 14px;
    color: #888
}

.feed-count-submit {
    line-height: 36px
}

.feed-count-button {
    line-height: 34px;
    padding: 0 20px;
    font-size: 14px;
    border: 1px solid #f60;
    color: #f60
}

.feed-container {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fff
}

.feed-container-header {
    height: 30px;
    padding: 15px 20px;
    border-bottom: 1px solid #ececec
}

.feed-container-header h2 {
    float: left;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #585858
}

.feed-container-header .count {
    float: left;
    margin-left: 12px;
    line-height: 30px;
    font-size: 14px;
    color: #919191
}

.feed-container-header .feed-more {
    float: right;
    width: 30px;
    height: 30px;
    overflow: hidden;
    opacity: .8;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    background-image: url(/static/images/sprites/icons-sprite.png);
    background-image: -webkit-image-set(url(/static/images/sprites/icons-sprite.png) 1x,url(/static/images/sprites/icons-sprite-2x.png) 2x);
    background-repeat: no-repeat;
    background-position: 0 -22px;
    text-indent: -99em
}

.feed-container-header .feed-more:hover {
    opacity: 1
}

.feed-control-buttons {
    float: right
}

.feed-control-buttons button {
    float: left;
    margin-left: 10px;
    padding: 0 15px;
    margin-top: 1px;
    line-height: 28px;
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    outline: 0
}

.feed-control-submit {
    background-color: #f60;
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1)
}

.feed-control-cancel {
    background-color: transparent;
    color: #8c8c8c
}

.feed-items-container {
    overflow: hidden
}

.feed-empty-tips {
    margin-top: 108px;
    padding: 120px 20px 110px;
    background: url(/static/images/icon-cloud.png) top center no-repeat
}

.feed-empty-tips h3 {
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 500
}

.feed-empty-tips p {
    line-height: 30px;
    font-size: 16px
}

.feed-items-timeline {
    height: 36px;
    line-height: 36px;
    margin-top: 5px;
    padding: 5px 0;
    font-size: 16px;
    color: #666;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    clear: both
}

.feed-item {
    position: relative;
    float: left;
    width: 298px;
    height: 314px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid transparent
}

.feed-thumb {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 212px;
    line-height: 212px;
    background-color: #f4f4f4;
    background-image: url(../img/icon-thumb-default.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0,0,0,.2)
}

.feed-delete,.feed-thumb-player {
    position: absolute;
    top: 15px;
    z-index: 10;
    border: 0
}

.feed-thumb a {
    display: block;
    height: 212px
}

.feed-thumb img {
    max-width: 100%;
    max-height: 212px;
    opacity: 0;
    vertical-align: middle
}

.feed-thumb-player {
    left: 15px;
    width: 41px;
    height: 26px;
    outline: 0;
    background: url(../img/icon-gif-player.png) center center no-repeat
}

.feed-delete {
    right: 15px;
    width: 15px;
    height: 16px;
    overflow: hidden;
    text-indent: -99em;
    background-color: transparent;
    background-image: url(../img/icons-sprite.png);
    background-image: -webkit-image-set(url(../img/icons-sprite.png) 1x,url(../img/icons-sprite-2x.png) 2x);
    background-repeat: no-repeat;
    background-position: 0 -90px
}

.feed-item:hover .feed-thumb,.modal-mask {
    left: 0;
    right: 0;
    top: 0
}

.feed-delete:hover {
    background-position: -15px -90px
}

.feed-thumb-player.playing,.feed-thumb-player:hover {
    background: url(../img/icon-gif-playing.png) center center no-repeat
}

.feed-access {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 24px;
    padding: 3px 8px;
    color: #fff;
    opacity: .8
}

.feed-access-pending {
    background-color: #A7A8A7
}

.feed-access-approval {
    background-color: #57BF46
}

.feed-access-reject {
    background-color: #EB6D55
}

.feed-describe {
    position: absolute;
    left: -1px;
    bottom: -1px;
    right: -1px;
    width: 298px;
    min-height: 102px;
    border: 1px solid #ececec;
    background-color: #fff
}

.feed-title {
    padding: 8px 15px 0;
    height: 36px;
    font-size: 14px;
    font-weight: 500
}

.feed-title a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #222;
    overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
    word-break: break-all
}

.feed-description {
    height: 36px;
    padding: 0 15px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #989898
}

.feed-item-info {
    overflow: hidden;
    margin: 10px 15px;
    height: 0;
    -webkit-transition: height .2s ease-in;
    -moz-transition: height .2s ease-in;
    transition: height .2s ease-in
}

.feed-item-info.feed-item-user {
    height: 0
}

.feed-user {
    float: left;
    margin-left: 2px;
    line-height: 34px;
    color: #a0a0a0
}

.feed-user img {
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.2)
}

.feed-item-count {
    height: 30px;
    line-height: 30px
}

.feed-item-count span {
    display: inline-block;
    color: #a0a0a0
}

.feed-item-count .feed-fav {
    margin-right: 12px;
    padding-right: 14px;
    background: url(../img/icon-fav-marker.png) right center no-repeat;
    background-image: -webkit-image-set(url(../img/icon-fav-marker.png) 1x,url(../img/icon-fav-marker-2x.png) 2x)
}

.feed-item-count .g-icon {
    margin-right: 4px
}

.feed-item-count .icon-fav {
    width: 14px;
    height: 13px;
    cursor: pointer;
    background-position: 0 -52px
}

.feed-item-count .icon-fav:hover {
    background-position: -14px -52px
}

.feed-item-count .icon-faved {
    width: 14px;
    height: 13px;
    cursor: pointer;
    background-position: 0 -65px
}

.feed-item-count .icon-view {
    width: 18px;
    height: 12px;
    background-position: 0 -78px
}

.feed-item-count .icon-viewed {
    width: 18px;
    height: 12px;
    background-position: 0 -120px
}

.feed-item-info.feed-item-user .feed-item-count {
    float: right;
    height: 36px;
    line-height: 36px
}

.feed-item:hover {
    border-color: #f60
}

.feed-item:hover .feed-thumb img {
    max-height: 182px
}

.feed-item:hover a {
    color: #f60
}

.feed-item:hover .feed-describe {
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    border-top: 1px solid #ececec
}

.feed-item:hover .feed-item-info {
    height: 30px
}

.feed-item:hover .feed-item-info.feed-item-user {
    height: 36px
}

@media only screen and (max-device-width: 621px) {
    .feed-description,.feed-items-timeline,.feed-user {
        display:none
    }

    .feed-container {
        position: relative;
        z-index: 0;
        width: 100%;
        background: 0 0;
        border: 0;
        padding: 0
    }

    .feed-describe,.feed-thumb {
        position: static;
        width: 100%
    }

    .feed-container-header {
        height: 30px;
        padding: 0;
        background-color: #fff;
        border: 1px solid #ececec
    }

    .feed-items-container,.feed-thumb {
        background: 0 0
    }

    .feed-container-header h2 {
        font-size: 14px;
        padding-left: 10px
    }

    .feed-container-header .feed-more {
        background: 0 0;
        text-indent: 0;
        line-height: 30px;
        margin-right: 10px
    }

    .feed-item {
        float: none;
        width: 100%;
        height: 279px;
        padding: 0;
        margin: 0 0 10px;
        border: 0
    }

    .feed-thumb {
        box-shadow: none;
        height: 244px;
        line-height: 244px
    }

    .feed-describe {
        height: 36px;
        box-sizing: border-box;
        max-height: 36px;
        min-height: 36px;
        border-top: 0 none;
        overflow: hidden
    }

    .feed-title {
        float: left;
        padding: 0 0 0 10px;
        line-height: 36px;
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        text-overflow: ellipsis;
        word-break: break-all
    }

    .feed-title a {
        height: 36px;
        line-height: 36px
    }

    .feed-item-info,.feed-item-info.feed-item-user {
        float: right;
        margin: 0 10px 0 0;
        height: 36px
    }

    .feed-item-count {
        height: 36px;
        line-height: 36px
    }

    .feed-update-count {
        display: none;
        opacity: 0;
        visibility: hidden
    }

    .feed-thumb a {
        height: 244px
    }

    .feed-thumb img {
        max-height: 244px
    }
}
