root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

#代码缩进为四个空格
[*.{html,js,tpl,ts,css,scss,less,xml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
