@charset 'UTF-8';

// 参考 https://github.com/fayching/ionic/blob/master/scss/ionic.scss

@import

    //Variables
    'base/mixin',
    'base/variable',

    //基础样式
    'base/reset',
    'base/type',
    'base/icon',

    'base/animate',

    // 辅助类
    'util/border',
    'util/arrowlink',
    'util/nowrap',
    'util/grid',
    'util/layout',

    // UI 组件
    'component/badge',
    'component/reddot',
    'component/avatar',
    'component/label',
    'component/tag',
    'component/btn',
    'component/btn-group',
    'component/tips-news',
    'component/tooltips',
    'component/table',
    'component/list',
    'component/form',
    'component/checkbox',
    'component/switch',
    'component/radio',
    'component/select',
    'component/panel',
    'component/progress',
    'component/tab',
    'component/poptips',
    'component/selector';
