#gotop,.feed-thumb img {
    filter: alpha(opacity=0)
}

.btn,.feed-title a {
    white-space: nowrap
}

.exception-body {
    background-color: #ddd;
}

.exception-container {
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0
}

.exception-main {
    height: 100%;
    margin-top: 0
}

.shader-background {
    height: 100%;
    position: relative;
    z-index: 1
}

.comingsoon {
    position: absolute;
    top: 32%;
    z-index: 2;
    margin: 0 0 0 110px
}

.exception-title {
    font-size: 56px;
    font-weight: 400;
    color: #434343;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative
}

.exception-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 328px;
    height: 1px;
    background: #bfbfbf
}

#gotop,.g-icon {
    overflow: hidden;
    background-repeat: no-repeat
}

.exception-desc {
    font-size: 16px;
    line-height: 1.8;
    color: #a0a0a0
}

.exception-desc a {
    color: #3b91d3;
    text-decoration: underline;
    margin-left: 5px
}

.clearfix:after,.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.g-icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icons-sprite.png);
    background-image: -webkit-image-set(url(../img/icons-sprite.png) 1x,url(../img/icons-sprite-2x.png) 2x);
    opacity: .8;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in
}

.g-icon:hover,:hover .g-icon {
    opacity: 1
}

.icon-arrow-bottom {
    width: 10px;
    height: 6px;
    background-position: 0 0
}

.icon-arrow-top {
    width: 10px;
    height: 6px;
    background-position: 10px 0
}

.icon-plus {
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    background-position: 0 -6px
}

.icon-nav-switch {
    width: 16px;
    height: 14px;
    background-position: 0 -106px
}

.g-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    background-color: rgba(253,253,253,.8);
    z-index: 1000;
    border-bottom: 1px solid #E9E9E9
}

.add-site,.g-logo,.g-nav,.g-nav-menu a,.g-nav-menu li,.g-usermenu {
    position: relative
}

.g-logo {
    float: left;
    margin-left: 20px;
    text-align: left;
    transition: all .2s ease;
    font-size: 24px
}

.g-logo,.g-logo img {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease
}

.g-logo h1 a {
    display: block;
    line-height: 70px;
    font-weight: 400;
    color: #2b2b2b
}

.g-logo img {
    vertical-align: -6px;
    transition: all .2s ease;
    width: 45px
}

.g-logo .title {
    display: inline-block;
    margin: 0 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer
}

.g-logo .g-icon {
    vertical-align: 4px
}

.add-site {
    top: 50%;
    float: left;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding-right: 20px;
    margin-top: -11px
}

.g-usermenu,.g-usermenu .avatar {
    height: 30px
}

.add-site span {
    padding-left: 10px
}

.g-usermenu {
    top: 50%;
    float: left;
    margin-top: -15px;
    cursor: pointer
}

.g-usermenu .link-login {
    display: inline-block;
    width: auto;
    padding: 0 15px;
    line-height: 28px;
    border: 1px solid #38bef0;
    border-radius: 3px;
    color: #40a3da
}

.g-usermenu .avatar img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid #dcdcdc
}

.g-usermenu .icon-arrow-bottom {
    vertical-align: -5px
}

.g-user-dropmenu {
    display: none;
    position: absolute;
    top: 45px;
    right: -10px;
    z-index: 100;
    width: 178px;
    background-color: #fff;
    background-color: rgba(253,253,253,.9);
    border: 1px solid #DFDFDF;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    -box-shadow: 1px 1px 3px rgba(0,0,0,.1)
}

.g-user-dropmenu li {
    height: 32px;
    text-align: left;
    vertical-align: top
}

.btn,.feed-count,.feed-empty-tips,.feed-thumb,.g-footer,.mod-pagination,.modal-close,.pagination-goto input {
    text-align: center
}

.g-user-dropmenu a {
    display: block;
    padding: 0 12px;
    line-height: 32px;
    font-size: 14px;
    color: #666
}

.layscroll .g-logo h1 a,.layscroll .g-nav-menu a {
    line-height: 40px
}

.g-user-dropmenu .user {
    background-color: #f4f4f4;
    border-bottom: 1px solid #D7D7D7;
    border-bottom: 1px solid rgba(0,0,0,.12)
}

.g-user-dropmenu .inner-arrow,.g-user-dropmenu .outer-arrow {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    color: transparent;
    border-width: 10px;
    border-style: solid
}

.layscroll .g-nav-switch {
    height: 40px
}

.g-user-dropmenu .outer-arrow {
    top: -20px;
    right: 36px;
    border-color: transparent transparent #DFDFDF
}

.g-user-dropmenu .inner-arrow {
    top: -9px;
    right: -10px;
    border-color: transparent transparent #F4F4F4
}

.g-user-dropmenu.show {
    display: block;
    -webkit-animation: show-switch .1s ease-in;
    animation: show-switch .1s ease-in
}

.btn,.feed-count-button,.feed-count-item {
    display: inline-block
}

@-webkit-keyframes show-switch {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
}

@-moz-keyframes show-switch {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
}

.layscroll .g-header {
    border-color: rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1)
}

.layscroll .g-logo img {
    width: 30px;
    vertical-align: 0
}

.layscroll .g-logo .title {
    font-size: 18px;
    vertical-align: 2px
}

.layscroll .g-switch-menu {
    top: 55px
}

.g-footer {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #e8e8e8;
    border-top: 1px solid #d0d0d0;
    font-size: 14px;
    color: #5d5d5d
}

.g-footer p {
    line-height: 24px
}

.g-footer a {
    padding: 0 8px
}

.g-footer.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0
}

.container {
    width: 1622px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    overflow: hidden
}

.layscroll .container {
    padding-top: 60px
}

@media screen and (max-width: 1601px) {
    .container {
        width:1302px
    }
}

@media screen and (max-width: 1301px) {
    .container {
        width:982px
    }
}

@media screen and (max-width: 981px) {
    .container {
        width:662px
    }
}

.filter-container {
    position: relative;
    top: 70px;
    width: 100%;
    background-color: #fdfdfd;
    border-bottom: 1px solid #e9e9e9
}

.filter-container .filter-panel {
    padding: 12px 20px
}

.filter-container .filter-panel .label {
    float: left;
    width: 35px;
    line-height: 30px;
    color: #888
}

.filter-container .filter-panel .filter-list {
    margin-left: 35px;
    min-height: 30px
}

.filter-container .filter-panel .filter-list a {
    float: left;
    padding: 5px 12px;
    line-height: 20px;
    color: #222
}

.filter-container .filter-panel .filter-list a:hover {
    color: #f60
}

.filter-container .filter-panel .filter-list .current {
    color: #f60;
    cursor: default
}



#gotop,#gotop:hover {
    background-color: #fff
}



#gotop {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    position: fixed;
    right: 10px;
    bottom: 90px;
    width: 40px;
    height: 40px;
    border: 1px solid #ececec;
    background-color: rgba(255,255,255,.9);
    background-image: url(/static/images/sprites/gotop-icons.png);
    background-position: -1px 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,.05);
    text-indent: -99em;
    outline: 0;
    z-index: 9999
}

#gotop:hover {
    background-position: -1px -40px
}

#gotop.show {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mobile-toolbar {
    display: none;
    position: fixed;
    left: 0;
    top: 51px;
    right: 0;
    z-index: 500;
    height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8
}

.mobile-view-switch {
    float: right;
    height: 28px;
    margin-top: 7px;
    margin-right: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 1px
}

.mobile-view-switch button {
    position: relative;
    float: left;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 0;
    outline: 0;
    overflow: hidden;
    text-indent: -99em;
    -webkit-tap-highlight-color: transparent
}

.mobile-view-switch .item-view:before,.mobile-view-switch .list-view:after,.mobile-view-switch .list-view:before {
    position: absolute;
    content: ""
}

.mobile-view-switch .list-view {
    border-radius: 1px 0 0 1px
}

.mobile-view-switch .item-view {
    border-radius: 0 1px 1px 0
}

.mobile-view-switch .item-view:before {
    width: 10px;
    height: 10px;
    left: 9px;
    top: 9px
}

.mobile-view-switch .list-view:after,.mobile-view-switch .list-view:before {
    left: 9px;
    width: 2px;
    height: 4px;
    border-left: 4px solid #e3e3e3;
    border-right: 4px solid #e3e3e3
}

.mobile-view-switch .list-view:before {
    top: 9px
}

.mobile-view-switch .list-view:after {
    bottom: 9px
}

.mobile-view-switch .checked,.mobile-view-switch .item-view:before {
    background-color: #e3e3e3
}

.mobile-view-switch .list-view.checked:after,.mobile-view-switch .list-view.checked:before {
    border-color: #fff
}

.mobile-view-switch .item-view.checked:before {
    background-color: #fff
}

@media only screen and (max-device-width: 621px) {
    .g-logo,.g-logo img,.layscroll .g-logo img {
        -webkit-transition:none;
        -moz-transition: none
    }

    .g-header {
        height: 50px;
        background-color: #fff;
        z-index: 1000
    }

    .layscroll .g-header {
        box-shadow: none;
        background-color: #fff
    }

    .g-logo {
        position: absolute;
        left: 50%;
        margin-left: 0;
        -webkit-transform: translateX(-50%)
    }

    .g-logo h1 a {
        padding: 5px 0;
        line-height: 40px;
        font-size: 18px
    }

    .g-logo img,.layscroll .g-logo img {
        width: 28px;
        vertical-align: -1px
    }

    .g-logo .title {
        margin: 0
    }

    .g-nav {
        height: 50px;
        margin-left: 10px;
        background: 0 0
    }

    .g-nav-switch,.layscroll .g-nav-switch {
        margin-left: 0;
        height: 50px;
        -webkit-tap-highlight-color: transparent
    }

    .g-nav-menu,.layscroll .g-nav-menu {
        left: 5px;
        top: 40px
    }

    .g-footer {
        display: none;
        opacity: 0
    }

    .mobile-toolbar {
        display: block
    }

    .feed-count,.filter-container,.mod-pagination {
        display: none
    }

    #gotop {
        width: 40px;
        height: 40px;
        bottom: 10px;
        border: 1px solid #f60;
        border-radius: 100%;
        background: rgba(255,255,255,.86);
        -webkit-tap-highlight-color: transparent
    }

    #gotop:after,#gotop:before {
        position: absolute;
        content: "";
        top: 16px;
        width: 17px;
        height: 1px;
        overflow: hidden;
        background-color: #ccc
    }

    #gotop:before {
        right: 5px;
        -webkit-transform: rotate(45deg)
    }

    #gotop:after {
        left: 5px;
        -webkit-transform: rotate(135deg)
    }

    .container {
        padding-top: 104px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        box-sizing: border-box
    }

    .feed-thumb a {
        height: 244px
    }
}




a,body {
    color: #555
}
