@mixin content-img {
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    & > span {
        position: absolute;
        z-index: $z-index-img;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        -webkit-background-size: cover;
    }
}

@mixin avatar($size: $avatar-width) {
    overflow: hidden;

    width: #{$size}px;
    height: #{$size}px;

    -webkit-border-radius: $border-radius-max;
}

@mixin icon {
    font-family: 'iconfont' !important;
    font-size: 32px;
    font-style: normal;
    line-height: $line-height-bar;

    display: block;

    color: rgba(0,0,0,.5);

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}

@mixin arrowlink {
    position: absolute;
    top: 50%;
    right: $list-padding;

    margin-top: -22px;
    margin-right: -10px;

    content: '\e603';

    color: #c7c7c7;
}

@mixin nowrap {
    overflow: hidden;

    max-width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin border-radius($border-color: $bordercolor,$border-radius: $border-radius-base,$border-before-radius: $border-radius-lg) {
    border: 1px solid $border-color;
    border-radius: $border-radius;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        position: relative;

        border: 0;
        &:before {
            position: absolute;
            top: 0;
            left: 0;

            -webkit-box-sizing: border-box;
            width: 200%;
            height: 200%;
            padding: 1px;

            content: '';
            -webkit-transform: scale(.5);
            -webkit-transform-origin: 0 0;

            border: 1px solid $border-color;
            border-radius: $border-before-radius;
        }
    }
}

@mixin tit{
    height: 0.3rem;
    line-height: 0.3rem;
    border-bottom: 1px solid $skin-a;
    color: $skin-a;
    margin-bottom: 0.08rem;
}

@mixin button{
    line-height: .32rem;
    height: .32rem;
    text-align: center;
    color: #fff;
    border-radius: .5rem;
    background: $skin-a;
}
