@import

    '../base/mixin',
    '../base/variable';
/**
 * 未读数通知
 */
%badge {
    font-size: 11px;
    line-height: 16px;

    display: inline-block;

    height: 16px;
    padding: 0 6px;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 8px;
    background: $reddot-bg;
    background-clip: padding-box;
}
.ui-badge {
    @extend %badge;
}
/* 浅色的 */

.ui-badge-muted {
    @extend .ui-badge;

    background: #b6cae0;
}
.ui-badge-num {
    @extend .ui-badge;

    font-size: 12px;
    line-height: 20px;

    min-width: 19px;
    height: 19px;

    -webkit-border-radius: 10px;
}
.ui-badge-wrap {
    position: relative;

    text-align: center;
}
.ui-badge-corner {
    @extend %badge;

    line-height: 20px;

    position: absolute;
    top: -4px;
    right: -9px;

    height: 20px;

    border: 2px #fff solid;
}
.ui-badge-cornernum {
    @extend %badge;

    font-size: 12px;
    line-height: 19px;

    position: absolute;
    top: -4px;
    top: -5px;
    right: -9px;
    right: -5px;

    min-width: 19px;
    height: 19px;

    -webkit-border-radius: 10px;
}
