@import

    '../base/mixin',
    '../base/variable';

.ui-btn-group {
    display: -webkit-box;

    box-sizing: border-box;
    width: 100%;

    -webkit-box-align: center;

    button {
        font-size: 16px;
        line-height: 50px;

        display: block;

        width: 100%;
        height: 48px;

        text-align: center;

        color: #00a5e0;
        border-top: 1px solid #c8c7cc;
        border-right: 1px #c8c7cc solid;

        -webkit-box-flex: 1;

        &:first-child {
            margin-left: $wrap-padding;
        }
    }
}

.ui-btn-group-bottom {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;

    background-color: #fff;

    button {
        color: #00a5e0;
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),to(#e0e0e0));
    }
}
