@import

    '../base/mixin',
    '../base/variable';

.ui-checkbox {
    // display: inline-block;
}
.ui-checkbox input {
    position: relative;

    display: inline-block;
    overflow: visible;

    width: 25px;
    height: 1px;
    margin-right: 8px;

    vertical-align: middle;

    border: 0;
    outline: none;
    background: none;

    -webkit-appearance: none;
}
.ui-checkbox input:before {
    position: absolute;
    top: -22px;
    left: -4px;

    content: '\e607';

    color: $positive-bg;
}
.ui-checkbox input:checked:before {
    content: '\e631';

    color: #dedfe0;
}
.ui-checkbox-s {
    width: 19px;
}
.ui-checkbox-s input:before {
    content: '\e608';
}
.ui-checkbox-s input:checked:before {
    content: '\e632';

    color: #dedfe0;
}
