@import

    '../base/mixin',
    '../base/variable';

.ui-form {
    background-color: $default-bg;
    .ui-icon-close {
        position: absolute;
        top: 1px;
        right: 1px;

        color: $close-color;
    }
}

.ui-form-item-order:active {
    background-color: $active-bg;
}

/* 表单输入项 */
.ui-form-item {
    font-size: $font-size-info;
    line-height: $line-height-bar;

    position: relative;

    height: $line-height-bar;
    padding-right: $form-padding;
    padding-left: $form-padding;

    label:not(.ui-switch):not(.ui-checkbox):not(.ui-radio) {
        position: absolute;

        box-sizing: border-box;
        width: $form-label-width;

        text-align: left;
    }

    input,
    textarea {
        box-sizing: border-box;
        width: 100%;
        padding-left: $form-label-width;

        border: 0;
        background: none;

        -webkit-appearance: none;
    }
    input[type='checkbox'],
    input[type='radio'] {
        padding-left: 0;
    }
}
.ui-form-item-textarea {
    height: $form-textarea-height;
}

.ui-form-item-textarea label {
    vertical-align: top;
}

.ui-form-item-textarea textarea {
    margin-top: $form-textarea-margin-top;

    border: none;
}

.ui-form-item-textarea textarea:focus {
    outline: none;
}

.ui-form-item-l label,
.ui-form-item-r button {
    text-align: center;

    color: $txt-link;
}

.ui-form-item-r .ui-icon-close {
    right: $form-right-close-right;
}

.ui-form-item-l input:not([type='checkbox']):not([type='radio']) {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: $form-left-input-padding-left;
}

.ui-form-item-r {
    padding-right: 0;
}

.ui-form-item-r input:not([type='checkbox']):not([type='radio']) {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: $form-right-input-padding-right;
    padding-left: 0;
}

.ui-form-item-r button {
    position: absolute;
    top: 0;
    right: 0;

    width: 110px;
    height: $line-height-bar;
}

.ui-form-item-r button.disabled {
    color: $txt-muted;
}

.ui-form-item-r button:not(.disabled):active {
    background-color: $active-bg;
}

.ui-form-item-pure input,
.ui-form-item-pure textarea {
    padding-left: 0;
}

/* 表单展示项 */
.ui-form-item-show label {
    color: $txt-info;
}

.ui-form-item-link:after {
    @include arrowlink;
}
.ui-form-item-pure,
.ui-form-item-checkbox,
.ui-form-item-radio,
.ui-form-item-switch {
    display: -webkit-box;

    -webkit-box-align: center;
}

.ui-form-item-switch {
    line-height: 44px;

    position: relative;

    height: 44px;
}
