@import

    '../base/mixin',
    '../base/variable';

.ui-label {
    @include border-radius(#cacccd,15px,30px);

    line-height: 30px;

    position: relative;

    display: inline-block;

    height: 30px;
    padding: 0 15px;
    &:active {
        background-color: #f3f2f2;
    }
}
.ui-label-list {
    margin: 0 10px;
    .ui-label {
        margin: 0 10px 10px 0;
    }
}
.ui-label-s {
    @include border-radius(#ff7f0d,2px,4px);

    font-size: 11px;
    line-height: 13px;

    position: relative;

    display: inline-block;

    padding: 0 1px;

    color: #ff7f0d;
    &:active {
        background-color: #f3f2f2;
    }
    &:after {
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;

        content: '';
    }
}
