@import

    '../base/mixin',
    '../base/variable';

.ui-panel {
    overflow: hidden;

    margin-bottom: 10px;
}
.ui-panel h2,
.ui-panel h3 {
    position: relative;

    overflow: hidden;

    padding: 6px 10px 6px 10px;
}
.ui-panel-pure h3 {
    font-size: 14px;

    margin-left: 15px;
    padding: 6px 15px 6px 0;

    color: $txt-info;
}
.ui-panel-card {
    background-color: $default-bg;
}
.ui-panel-card h2,
.ui-panel-card h3 {
    padding: 10px;
}
.ui-panel-subtitle {
    font-size: 14px;

    margin-left: 10px;

    color: $txt-info;
}
.ui-panel-title-tips {
    font-size: 14px;

    position: absolute;
    top: 50%;
    right: 10px;

    margin-top: -9px;

    color: $txt-info;
}
.ui-arrowlink .ui-panel-title-tips {
    right: 24px;
}
.ui-panel .ui-grid-halve,
.ui-panel .ui-grid-trisect {
    margin-top: -10px;
}

.ui-panel-cnt {
    padding: 10px;
}
