@import

    '../base/mixin',
    '../base/variable';

/**
 * 红点提醒
 */
.ui-reddot {
    line-height: 22px;

    position: relative;

    display: inline-block;

    padding: 0 6px;
    &:after {
        position: absolute;
        top: -3px;
        right: -3px;

        display: block;

        width: 8px;
        height: 8px;

        content: '';

        border-radius: 5px;
        background-color: $reddot-bg;
        background-clip: padding-box;
    }
}
.ui-reddot-static {
    display: block;

    width: 8px;
    height: 8px;
    padding: 0;
    &:after {
        top: 0;
        right: 0;
    }
}
/* 带白边的 */
.ui-reddot-border {
    @extend .ui-reddot;
    &:before {
        position: absolute;
        top: -4px;
        right: -4px;

        display: block;

        width: 8px;
        height: 8px;
        padding: 1px;

        content: '';

        border-radius: 5px;
        background-color: #fff;
        background-clip: padding-box;
    }
}
/* 小号的 */

.ui-reddot-s {
    @extend .ui-reddot;
    &:after {
        top: -5px;
        right: -5px;

        width: 6px;
        height: 6px;
    }
}

