@import

    '../base/mixin',
    '../base/variable';

.ui-select {
    position: relative;

    margin-right: 6px;
}
.ui-select select {
    width: 100%;
    padding-right: 14px;

    border: 0;
    background: none;

    -webkit-appearance: none;
}
.ui-select:after {
    position: absolute;
    top: 50%;
    right: 0;

    width: 0;
    height: 0;
    margin-top: -4px;

    content: '';
    pointer-events: none;

    color: #a6a6a6;
    border-top: 6px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
}
.ui-select-group {
    overflow: hidden;

    margin-left: 95px;
    .ui-select {
        float: left;
    }
}
.ui-form-item > .ui-select {
    margin-left: 95px;
}
