@import

    '../base/mixin',
    '../base/variable';

.ui-selector header {
    overflow: hidden;

    padding: 6px 10px;

    color: #a6a6a6;
}

.ui-selector header h3 {
    float: left;
}
.ui-selector-content {
    background: $default-bg;
}
.ui-selector-item {
    overflow: hidden;

    p {
        overflow: hidden;

        margin-left: 10px;

        white-space: nowrap;
        text-overflow: ellipsis;

        -webkit-box-flex: 1;
    }

    ul {
        display: none;
    }

    h3:before {
        position: absolute;
        top: 15px;
        left: 25px;

        display: block;

        width: 0;
        height: 0;

        content: '';
        -webkit-transition: all .2s;

        color: #a6a6a6;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-bottom: 5px solid rgba(0, 0, 0, 0);
        border-left: 6px solid;
    }

    h3 {
        font-size: $font-size-info;
        line-height: $line-height-bar;

        position: relative;

        display: -webkit-box;

        height: $line-height-bar;
        padding-left: 54px;
    }

    .ui-txt-info {
        font-size: 12px;

        margin: 0 10px;
    }

    .ui-list-link li:after {
        display: none;
    }

    &.active h3:before {
        -webkit-transform: rotate(90deg);
    }

    &.active h3 {
        border: none;
        background-image: none;
    }

    &.active ul {
        display: block;
    }
}

.ui-selector-item-right {
    h3:before {
        position: absolute;
        top: 15px;
        right: 25px;
        left: auto;
    }

    h3 {
        padding-right: 54px;
        padding-left: 0;
    }
}
