@import

    '../base/mixin',
    '../base/variable';

.ui-switch {
    font-size: $font-size-info;
    line-height: 32px;

    position: absolute;
    top: 50%;
    right: 15px;

    width: 52px;
    height: 32px;
    margin-top: -16px;
    input {
        position: absolute;
        z-index: $z-index-switch;

        width: 52px;
        height: 32px;

        border: none;
        outline: none;
        background: none;

        -webkit-appearance: none;
        &:before {
            position: relative;

            display: inline-block;

            -webkit-box-sizing: content-box;
                    box-sizing: content-box;
            width: 50px;
            height: 30px;

            content: '';
            cursor: pointer;
            -webkit-transition: border .4s, box-shadow .4s;
                    transition: border .4s, box-shadow .4s;
            vertical-align: middle;

            border: 1px solid #dfdfdf;
            border-color: rgb(223, 223, 223);
            border-radius: 20px;
            background-color: #fdfdfd;
            -webkit-background-clip: content-box;
                    background-clip: content-box;
            box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
        }
        &:checked {
            &:before {
                -webkit-transition: border .4s,
                box-shadow .4s,
                background-color 1.2s;
                        transition: border .4s,
                box-shadow .4s,
                background-color 1.2s;

                border-color: rgb(100, 189, 99);
                background-color: #64bd63;
                background-color: rgb(100, 189, 99);
                box-shadow: rgb(100, 189, 99) 0 0 0 16px inset;
            }
            &:after {
                left: 21px;
            }
        }
        &:after {
            position: absolute;
            top: 1px;
            left: 0;

            width: 30px;
            height: 30px;

            content: '';
            -webkit-transition: left .2s;
                    transition: left .2s;

            border-radius: 100%;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        }
    }
}
