@import

    '../base/mixin',
    '../base/variable';

/**
 * 选项卡
 */
.ui-tab {
    overflow: hidden;

    width: 100%;
}
.ui-tab-nav {
    font-size: $font-size-info;

    display:         box;
    display: -webkit-box;

    box-sizing: border-box;
    width: 100%;
    height: $header-height;

    background-color: $default-bg;
}
.ui-tab-content {
    display: -webkit-box;

    margin-top: $header-height;
}
.ui-tab-content > li {
    width: 100%;

    -webkit-box-flex: 1;
}
.ui-tab-nav li {
    line-height: $header-height;

    box-sizing: border-box;
    width: 100%;
    min-width: 70px;
    height: $header-height;

    text-align: center;

    color: $txt-info;
    border-bottom: 2px solid transparent;

            box-flex: 1;
    -webkit-box-flex: 1;
}
.ui-tab-nav li.current {
    color: $txt-link;
    border-bottom: 2px $txt-link solid;
}
.ui-tab-nav li:active {
    opacity: .8;
}
