@import

    '../base/mixin',
    '../base/variable';

/**
 * 表格
 */
.ui-table {
    width: 100%;

    border-collapse: collapse;
}
.ui-table th {
    font-weight: 500;
}
.ui-table td,
.ui-table th {
    text-align: center;

    border-right: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-table td,
    .ui-table th {
        position: relative;

        border-right: 0;
        border-bottom: 0;
    }
    .ui-table td:after,
    .ui-table th:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background-image: $border-r,$border-b;
        background-repeat: no-repeat;
        background-position: right, bottom;
        background-size: 1px 100% ,100% 1px;
    }
    .ui-table tr td:last-child:after,
    .ui-table tr th:last-child:after {
        background-image: $border-b;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 1px;
    }
    .ui-table tr:last-child td:not(:last-child):after {
        background-image: $border-r;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 1px 100%;
    }
}
.ui-table tr td:last-child,
.ui-table tr th:last-child {
    border-right: 0;
}
.ui-table tr:last-child td {
    border-bottom: 0;
}

