@import

    '../base/mixin',
    '../base/variable';

/**
 * 页面消息提示
 */
.ui-tips-news-wrap {
    margin: 20px 15px;

    text-align: center;
}
.ui-tips-news {
    font-size: 14px;
    line-height: 40px;

    position: relative;

    display: -webkit-inline-box;

    height: 40px;
    padding: 0 25px 0 42px;

    color: #fff;
    border-radius: 5px;
    background: #383939;

    -webkit-box-align: center;

    &:before {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 12px;

        display: block;
        overflow: hidden;

        width: 20px;
        height: 18px;

        content: '';

        background: url(http://i.gtimg.cn/vipstyle/frozenui/1.2.0/img/icon.png?_bid=306) no-repeat -100px -50px;
        -webkit-background-size: 150px auto;
    }

    &:active {
        opacity: .7;
    }

    .ui-avatar-tiled,
    .ui-tips-news-thumb,
    i {
        display: block;

        margin-right: 10px;
        margin-left: -5px;
    }
    .ui-tips-news-thumb {
        @include content-img;

        width: 30px;
        height: 30px;
    }
    div {
        display: -webkit-box;
        overflow: hidden;

        height: inherit;

        text-overflow: ellipsis;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        -webkit-box-flex: 1;
    }
}
.ui-tips-news i:before {
    font-size: 25px;
    line-height: 40px;

    content: '\e62f';

    color: #c7c7c7;
}
.ui-tips-news:after {
    @include arrowlink;
}

.ui-tips-news .ui-reddot,
.ui-tips-news .ui-badge-num {
    margin-right: 5px;
    margin-left: 10px;
}
