@import

    '../base/mixin',
    '../base/variable';

.ui-tooltips {
    position: relative;
    z-index: $z-index-tooltips;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
}
.ui-tooltips-cnt {
    @include nowrap;

    line-height: $line-height-bar;

    height: $line-height-bar;
    padding-right: 30px;
    padding-left: 10px;

    color: $txt-link;
    .ui-icon-close {
        font-size: 40px;

        position: absolute;
        top: 0;
        right: 0;

        margin-left: -10px;

        color: rgba(0,0,0,.2);
    }
}
.ui-tooltips-warn .ui-tooltips-cnt {
    color: #000;
    background-color: rgba( 255, 242, 183 ,.95);
}
.ui-tooltips-warn:active .ui-tooltips-cnt {
    background-color: #e1d498;
}
.ui-tooltips-guide .ui-tooltips-cnt {
    background-color: rgba( 205, 242, 255 ,.95);
    .ui-icon-close {
        color: rgba(0,165,224,.2);
    }
}
.ui-tooltips-guide:active .ui-tooltips-cnt {
    background-color: #b5dbe8;
}

.ui-tooltips-cnt-link:after {
    @include arrowlink;

    color: rgba(0,0,0,.5);
}
.ui-tooltips-guide .ui-tooltips-cnt-link:after {
    color: #00aeef;
}
.ui-tooltips-warn i {
    display: inline-block;

    width: 32px;
    height: 1px;
    margin-right: 4px;
    margin-left: -4px;

    vertical-align: top;
}
.ui-tooltips-warn i:before {
    content: '\e60e';

    color: #f76249;
}

.ui-tooltips .ui-btn,
.ui-tooltips .ui-btn-lg,
.ui-tooltips .ui-btn-s {
    position: absolute;
    top: 50%;
    right: 10px;

    margin-top: -15px;
}



