@-webkit-keyframes rotate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}

@-webkit-keyframes rotate2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -444px 0;
    }
}

@-webkit-keyframes rotate3 {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes am-rotate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}
@-webkit-keyframes am-rotate2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -444px 0;
    }
}
