@import

    '../base/mixin',
    '../base/variable';

@font-face {
    font-family: 'iconfont';

    src: url('../font/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.ui-icon,
[class^='ui-icon-'] {
    @include icon;
}

.ui-icon-add:before {
    content: '\e601';
}
.ui-icon-more:before {
    content: '\e602';
}
.ui-icon-arrow:before {
    content: '\e603';
}
.ui-icon-return:before {
    content: '\e604';
}
.ui-icon-checked:before {
    content: '\e607';
}
.ui-icon-checked-s:before {
    content: '\e608';
}
.ui-icon-info-block:before {
    content: '\e609';
}
.ui-icon-success-block:before {
    content: '\e60a';
}
.ui-icon-wran-block:before {
    content: '\e60b';
}
.ui-icon-info:before {
    content: '\e60c';
}
.ui-icon-success:before {
    content: '\e60d';
}
.ui-icon-wran:before {
    content: '\e60e';
}
.ui-icon-next:before {
    content: '\e60f';
}
.ui-icon-prev:before {
    content: '\e610';
}
.ui-icon-tag:before {
    content: '\e611';
}
.ui-icon-tag-pop:before {
    content: '\e612';
}
.ui-icon-tag-s:before {
    content: '\e613';
}
.ui-icon-wran-lg:before {
    content: '\e614';
}
.ui-icon-close:before {
    content: '\e615';
}
.ui-icon-close-progress:before {
    content: '\e616';
}
.ui-icon-close-page:before {
    content: '\e617';
}
.ui-icon-emo:before {
    content: '\e618';
}
.ui-icon-delete:before {
    content: '\e619';
}
.ui-icon-collect:before {
    content: '\e61a';
}
.ui-icon-search:before {
    content: '\e61b';
}
.ui-icon-order:before {
    content: '\e600';
}
.ui-icon-news:before {
    content: '\e61c';
}
.ui-icon-center:before {
    content: '\e61d';
}
.ui-icon-personal:before {
    content: '\e61e';
}
.ui-icon-cart:before {
    content: '\e61f';
}
.ui-icon-history:before {
    content: '\e620';
}
.ui-icon-wallet:before {
    content: '\e621';
}
.ui-icon-refresh:before {
    content: '\e622';
}
.ui-icon-thumb:before {
    content: '\e623';
}
.ui-icon-file:before {
    content: '\e624';
}
.ui-icon-liked:before {
    content: '\e625';
}
.ui-icon-hall:before {
    content: '\e626';
}
.ui-icon-voice:before {
    content: '\e627';
}
.ui-icon-like:before {
    content: '\e628';
}
.ui-icon-unfold:before {
    content: '\e629';
}
.ui-icon-totop:before {
    content: '\e62a';
}
.ui-icon-share:before {
    content: '\e62b';
}
.ui-icon-home:before {
    content: '\e62c';
}
.ui-icon-pin:before {
    content: '\e62d';
}
.ui-icon-star:before {
    content: '\e62e';
}
.ui-icon-bugle:before {
    content: '\e62f';
}
.ui-icon-trend:before {
    content: '\e630';
}
.ui-icon-unchecked:before {
    content: '\e631';
}
.ui-icon-unchecked-s:before {
    content: '\e632';
}
.ui-icon-play-press:before {
    content: '\e633';
}
.ui-icon-stop-press:before {
    content: '\e634';
}
.ui-icon-play:before {
    content: '\e635';
}
.ui-icon-stop:before {
    content: '\e636';
}
.ui-icon-set:before {
    content: '\e605';
}
.ui-icon-svip:before {
    content: '\e606';
}
.ui-icon-vip:before {
    content: '\e637';
}
.ui-icon-addgroup:before {
    content: '\e638';
}
.ui-icon-addpeople:before {
    content: '\e639';
}
.ui-icon-pc:before {
    content: '\e63a';
}
.ui-icon-scan:before {
    content: '\e63b';
}


.ui-checkbox input:before,
.ui-arrowlink:before,
.ui-form-item-link:after,
.ui-list-link > li:after,
.ui-notice > i:before,
.ui-poptips-cnt i:before,
.ui-tag-t:before,
.ui-tag-vip:before,
.ui-tag-svip:before,
.ui-tag-selected:after,
.ui-tips-news i:before,
.ui-tips-news:after,
.ui-tips i:before,
.ui-tooltips-cnt-link:after,
.ui-tooltips-warn i:before,
.ui-dialog-close:before {
    @include icon;
}

.ui-icon-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 31px;
    height: 31px;
}

.ui-icon-close:before {
    position: static;

    width: 15px;
    height: 15px;
    margin: 8px;

    background-position: -75px -50px;
}


@font-face {
    font-family: 'kaibei';
    font-weight: normal;
    font-style: normal;

    src: url('../font/kaibei/kaibei.ttf?h3d1l6') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'kaibei';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-write:before {
    content: "\e600";
}
.icon-wendu:before {
    content: "\e601";
}
.icon-warn:before {
    content: "\e602";
}
.icon-user2:before {
    content: "\e603";
}
.icon-user:before {
    content: "\e604";
}
.icon-used:before {
    content: "\e605";
}
.icon-up:before {
    content: "\e606";
}
.icon-star-empty:before {
    content: "\e607";
}
.icon-star:before {
    content: "\e608";
}
.icon-settings:before {
    content: "\e609";
}
.icon-right-empty:before {
    content: "\e60a";
}
.icon-right:before {
    content: "\e60b";
}
.icon-radio-checked .path1:before {
    content: "\e60c";
    color: rgb(0, 0, 0);
}
.icon-radio-checked .path2:before {
    content: "\e60d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-radio-checked .path3:before {
    content: "\e60e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-radio .path1:before {
    content: "\e60f";
    color: rgb(180, 186, 191);
}
.icon-radio .path2:before {
    content: "\e610";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-radio .path3:before {
    content: "\e611";
    margin-left: -1em;
    color: rgb(220, 226, 232);
}
.icon-qingjie:before {
    content: "\e612";
}
.icon-phone:before {
    content: "\e613";
}
.icon-outdate:before {
    content: "\e614";
}
.icon-note:before {
    content: "\e615";
}
.icon-message:before {
    content: "\e616";
}
.icon-map3:before {
    content: "\e617";
}
.icon-map2:before {
    content: "\e618";
}
.icon-map:before {
    content: "\e619";
}
.icon-lvdai:before {
    content: "\e61a";
}
.icon-luntai:before {
    content: "\e61b";
}
.icon-logo-circle:before {
    content: "\e61c";
}
.icon-logo:before {
    content: "\e61d";
    color: #FFA54A;
}
.icon-list:before {
    content: "\e61e";
}
.icon-left:before {
    content: "\e61f";
}
.icon-kongtiaolv:before {
    content: "\e620";
}
.icon-kongqilv:before {
    content: "\e621";
}
.icon-kefu:before {
    content: "\e622";
}
.icon-jiyou:before {
    content: "\e623";
}
.icon-hand:before {
    content: "\e624";
}
.icon-gou:before {
    content: "\e625";
}
.icon-email:before {
    content: "\e626";
}
.icon-edit:before {
    content: "\e627";
}
.icon-dumo:before {
    content: "\e628";
}
.icon-down:before {
    content: "\e629";
}
.icon-doc .path1:before {
    content: "\e62a";
    color: rgb(215, 216, 217);
}
.icon-doc .path2:before {
    content: "\e62b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-doc .path3:before {
    content: "\e62c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-delete:before {
    content: "\e62d";
}
.icon-dangfeng:before {
    content: "\e62e";
}
.icon-coupon:before {
    content: "\e62f";
}
.icon-computer:before {
    content: "\e630";
}
.icon-close:before {
    content: "\e631";
}
.icon-chilun:before {
    content: "\e632";
}
.icon-chedeng:before {
    content: "\e633";
}
.icon-car2:before {
    content: "\e634";
}
.icon-car:before {
    content: "\e635";
}
.icon-call:before {
    content: "\e636";
}
.icon-baozhi:before {
    content: "\e637";
}
.icon-baozhang:before {
    content: "\e638";
}
.icon-baoxian:before {
    content: "\e639";
}
.icon-about:before {
    content: "\e63a";
}
