@import

    '../base/variable';

/*CSS Reset*/
blockquote,body,dd,dir,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,legend,menu,ol,p,pre,tbody,td,textarea,tfoot,th,thead,ul {
    margin: 0;
    padding: 0
}

ol,ul {
    list-style-type: none;
    list-style-image: none
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

a:active {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

a:hover {
    color: #222
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    font-size: 12px;
    line-height: 1.5;
    background-color: #f4f4f4
}

body,button,input,select,textarea {
    font-family: "Helvetica Neue","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-size: 1em
}

abbr,acronym {
    border-bottom: 1px dotted;
    cursor: help
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background-color: #D2E5FF;
    color: #000
}

code,kbd,pre,samp {
    font-family: monaco,menlo,consolas,'courier new',courier,monospace
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-warp: break-word
}

q {
    quotes: none
}

q:after,q:before {
    content: '';
    content: none
}

small {
    font-size: 10px
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

em,i {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: left
}

img {
    border: 0;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    white-space: normal
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit],label {
    cursor: pointer
}

button[disabled],input[disabled] {
    cursor: default
}

input[type=radio],input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

option:disabled:checked,select:disabled option:checked {
    color: #D2D2D2
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input {
        line-height: normal!important
    }
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1
}

select[multiple],select[size],select[size][multiple] {
    border: 1px solid #AAA;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

[draggable] {
    cursor: move
}
