$body-font: 'Segoe UI','Lucida Grande',Helvetica,Arial,'Microsoft YaHei',FreeSans,Arimo,'Droid Sans','wenquanyi micro hei','Hiragino Sans GB','Hiragino Sans GB W3',FontAwesome,sans-serif;
$bordercolor: #e0e0e0;
$border-t: -webkit-gradient(linear, left bottom, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$border-b: -webkit-gradient(linear, left top, left bottom, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$border-l: -webkit-gradient(linear, right top, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$border-r: -webkit-gradient(linear, left top, right top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$skin-a: #09f;          //蓝色皮肤，主色
$skin-b: #ff8709;          //橙色皮肤，副色

$stable-bg: #f8f8f8;
$default-bg: #fff;
$positive-bg: #18b4ed;
$header-height: .45rem;
$mask-bg: rgba(0,0,0,.4);
$txt-default: rgb(51,51,51);
$txt-info: #808080;
$txt-muted: #a6a6a6;
$txt-warning: #fc4226;
$txt-highlight: #f28c48;
$txt-link: #6d6d6d;
$txt-feeds: #314c83;
$txt-diabled: #ddd;
$line-height-base: 1.5;
$line-height-txt: .2rem;
$line-height-bar: .44rem;
$txt-padding-top: .12rem;
$txt-padding-bottom: .12rem;
$font-size-root: 625%;
$font-size-base: .14rem;
$font-size-title: .165rem;
$font-size-title-lg: .17rem;
$font-size-info: .16rem;
$font-size-sub: .13rem;
$font-size-state: .11rem;
$wrap-padding: .1rem;
$wrap-padding-lg: .15rem;
$border-radius-base: .04rem;
$border-radius-lg: .08rem;
$border-radius-max: 2rem;
$active-bg: #e5e6e7;
$active-opacity: .5;
$avatar-width: 50;
$avatar-width-lg: 70;
$avatar-width-s: 40;
$avatar-width-tiled: 30;
$reddot-bg: #f74c31;
$reddot-bg-muted: #b6cae0;
$button-height: .3rem;
$button-padding: 0 .11rem;
$button-min-width: .55rem;
$button-size: .12rem;
$button-border-radius: .15rem;
$button-hot-area: .07rem;
$button-bg-color: #fdfdfd;
$button-bg-image: -webkit-gradient(linear,left top, left bottom, color-stop(.5, #fff), to(#fafafa));
$button-text: #5d5d5d;
$button-border-color: #cacccd;
$button-active-bg: #f2f2f2;
$button-active-text: rgba(93, 93, 93, .5);
$button-lg-height: .35rem;
$button-lg-size: .12rem;
$button-lg-border-radius: .175rem;
// $button-s-width: .55rem;
$button-s-height: .24rem;
$button-s-size: .1rem;
$button-before-border-radius: .3rem;
$button-lg-before-border-radius: 0.42rem;
$button-wrap-padding: .15rem .1rem;
$button-primary-bg-color: $skin-a;
$button-primary-bg-image: -webkit-gradient(linear,left top, left bottom, color-stop(.5, #0697F7), to($skin-a));
$button-primary-text: rgb(255,255,255);
$button-primary-border-color: #0baae4;
$button-primary-active-bg: #1ca7da;
$button-primary-active-text: rgba(255,255,255,.5);
$button-danger-bg-color: #f75549;
$button-danger-bg-image: -webkit-gradient(linear,left top, left bottom, color-stop(.5, #fc6156), to(#f75549));
$button-danger-text: rgb(255,255,255);
$button-danger-border-color: #f43d30;
$button-danger-active-bg: #e2574d;
$button-danger-active-text: rgba(255,255,255,.5);
$button-disabled-bg-color: #e9ebec;
$button-disabled-text: #ccc;
$button-progress-bg-color: #fefefe;
$button-progress-bg-image: -webkit-gradient(linear,left top, left bottom, color-stop(.5, rgb(255,255,255)), to(rgb(250,250,250)));
$button-progress-text: #ccc;
$button-progress-disabled-border-color: #cacccd;
$list-padding: .1rem;
$list-link-padding: .25rem;
$list-function-padding: .15rem;
$list-function-link-padding: .3rem;
$list-thumb-width: .5rem;
$list-thumb-height: .5rem;
$list-thumb-width-s: .28rem;
$list-thumb-height-s: .28rem;
$list-img-width: 1rem;
$list-img-height: .68rem;
$list-icon-width: .4rem;
$list-icon-height: .4rem;
$list-img-margin: .1rem .1rem .1rem 0;
$actionsheet-bg: rgba(255,255,255,.84);
$actionsheet-border: .03rem;
$actionsheet-size: .21rem;
$actionsheet-title-size: .13rem;
$actionsheet-title-line-height: .2rem;
$actionsheet-title-color: #8a8a8a;
$actionsheet-title-padding: .2rem;
$actionsheet-btn-last-margin: .08rem 0;
$actionsheet-del-color: #fd472b;
$actionsheet-color: #0079ff;
$actionsheet-active: .84;
$dialog-cnt-bg: rgba(253,253,253,.95);
$dialog-cnt-width: 2.7rem;
$dialog-bd-height-min: .71rem;
$dialog-bd-padding: .05rem .18rem;
$dialog-border-radius: .06rem;
$dialog-hd-margin-bottom: .04rem;
$dialog-ft-height: .42rem;
$dialog-btn-active: rgba(0,0,0,.1);
$dialog-close-color: #828282;
$form-padding: .1rem;
$form-label-width: .95rem;
$form-textarea-height: .65rem;
$form-textarea-margin-top: .15rem;
$form-right-close-right: 1.25rem;
$form-left-input-padding-left: 1.15rem;
$form-right-input-padding-right: 1.5rem;
$close-color: #8e8e93;
$searchbar-height: .3rem;
$searchbar-padding: .1rem;
$searchbar-border: .05rem;

// Z-Indexes
// -------------------------------
$z-index-placehold: -1;
$z-index-img: 1;
$z-index-switch: 2;
$z-index-progress: 9;
$z-index-tag: 9;
$z-index-border: 10;
$z-index-notice: 99;
$z-index-tooltips: 99;
$z-index-head: 100;
$z-index-poptips: 999;
$z-index-overlay: 9999;
